// messageList.scss
.message-list-container {
    padding: 20px;
    margin: 0;
    border: 1px solid #a997df;
    border-radius: 8px;
    height: 75vh;
    overflow-y: auto; // Enable vertical scrolling

    .message-list {
        display: flex;
        flex-direction: column;
    }
}
