/* siteLogo.scss */
.logo {
    margin: 0 auto; /* Center the logo */
}

.logo.small {
    width: 100px;
    height: auto;
}

.logo.medium {
    width: 200px;
    height: auto;
}

.logo.large {
    width: 300px;
    height: auto;
}
