// chatMessage.scss
.chat-message {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-bottom: 10px;
    width: fit-content;
    word-break: break-word;

    &.mine,
    &.theirs {
        align-self: flex-start;
    }

    &.mine {
        align-self: flex-end;
    }

    .message-content-wrapper {
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 8px;
        background-color: inherit; // Ensures it inherits from .mine or .theirs but you can directly apply color here if needed
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.mine .message-content-wrapper {
        background-color: #c9ffe2; // Specific background for mine messages
    }

    &.theirs .message-content-wrapper {
        background-color: #e0ac9d; // Specific background for theirs messages
    }

    .message-content {
        width: 100%;
    }

    .timestamp-wrapper .message-time {
        text-align: right;
        font-size: 0.8rem;
        margin-top: 4px;
        width: 100%;
        align-self: flex-end;
    }
}
